{% extends "base.html" %}
{%block body%}

<center>
<div class="row" style="border-bottom: solid 5px white; padding-bottom: 10px;">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form action="#" method="POST">
            <input type="text" placeholder="search" name="search" autocomplete="off" value = {{ val }} ><br><br>
            <button type="submit" class="btn btn-primary">SEARCH</button>
        </form>
    </div>
    <div class="col-md-4"><br><br><br></div>
</div>
</center>
{% if length!=0 %}
{% for post in my_pts %}
<center>
<div class="row container" style="background-color: rgba(255,255,255,0); padding-top: 15px;padding-bottom: 15px;border-bottom: solid 5px white;">
    <div class="col-md-6"> 
        <h3><b>{{ post.title }}</b></h3>
        <p style="font-size: 15px;">{{ post.author.username}} {{ post.time_stamp.strftime('%B %d, %Y %H:%M') }}</p>
        <p style="font-size: 15px;">{{ post.content }}</p>
    </div>
    <div class="col-md-6">
        <iframe width=90% height= "260"
        src={{ post.link }}>
        </iframe></div>
</div></center>
{% endfor %}
{% else %}
<center>
    <br>
    <div class="row container" style="border-radius: 10px;background-color: rgba(219, 0, 0, 0.4); padding-top: 15px;padding-bottom: 15px;border-bottom: solid 5px white;">
        <p style="color: rgba(200,0,0);">COULD NOT FIND ANY POSTS !!</p>
    </div></center>
{% endif %}
{% endblock %}